@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: fit-content;
  font-size: 10px;
  overflow-x: hidden;
  overflow-anchor: none;
  scroll-behavior: smooth; }

body {
  width: 100vw;
  box-sizing: border-box;
  font-size: 10px; }

.no_selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }

.no_visible {
  display: none; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.modal {
  display: none;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  /* Location of the box */
  padding: 4rem 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  overflow-y: auto;
  /* Full height */
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.modal-content {
  object-fit: scale-down;
  max-height: 60%;
  width: 100%; }

/* Caption of Modal Image */
#caption {
  margin: 2rem 0 0 0;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  padding: 0 15rem; }

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px) {
  .modal {
    padding-top: 80px; }
  .modal-content {
    width: 100%; }
  #caption {
    margin: 2rem 0 0 0;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 1rem; } }

.body {
  font-family: 'Urbanist', sans-serif;
  background: #fff;
  font-weight: normal; }
  .body .bg__video {
    position: absolute;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover; }
  .body .upArrow p {
    transition: opacity 0.4s;
    margin: 1rem 0;
    display: block;
    opacity: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #125068; }
  .body .upArrow img {
    height: 4rem;
    transition: transform 0.4s; }
    .body .upArrow img:hover {
      transform: scale(110%); }
  .body .upArrow:hover > p {
    opacity: 100%; }
  .body .header {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center; }
    .body .header .header__nav {
      width: 100%;
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
      align-items: flex-start;
      height: fit-content; }
      .body .header .header__nav .logo__link .logo__img {
        height: 6rem;
        transition: background 0.3s, transform 0.5s;
        border-radius: 0 0 5px 0; }
        .body .header .header__nav .logo__link .logo__img:hover {
          background: rgba(255, 255, 255, 0.5); }
      .body .header .header__nav .header__links {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 3rem 2rem; }
        .body .header .header__nav .header__links .header__li {
          display: inline; }
          .body .header .header__nav .header__links .header__li .header__link {
            color: #fff;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            text-align: center;
            transition: color 0.4s, background 0.3s; }
            .body .header .header__nav .header__links .header__li .header__link:hover {
              color: #125068;
              background: rgba(255, 255, 255, 0.5); }
    .body .header .header__container .header__titles {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: center;
      margin: 5rem 3rem;
      padding: 3rem 4rem;
      color: #fff;
      border-radius: 5px;
      transition: border-radius 0.5s, background 0.4s; }
      .body .header .header__container .header__titles .header__title {
        font-weight: bold;
        font-size: 4rem; }
      .body .header .header__container .header__titles .header__subtitle {
        font-weight: normal;
        font-size: 3rem; }
      .body .header .header__container .header__titles .header__message {
        opacity: 0;
        margin: 0.5rem 0;
        font-weight: bold;
        font-size: 1.8rem;
        transition: opacity 0.4s; }
      .body .header .header__container .header__titles:hover {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 40px; }
      .body .header .header__container .header__titles:hover > .header__message {
        opacity: 100%; }

@media (max-width: 600px) {
  .body .header {
    height: 100vh;
    flex-flow: column-reverse wrap;
    justify-content: start;
    align-items: center; }
    .body .header .header__nav {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .body .header .header__nav .header__links {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 3rem 2rem; }
        .body .header .header__nav .header__links .header__li {
          margin: 1rem 0;
          display: inline; }
          .body .header .header__nav .header__links .header__li .header__link {
            color: #fff;
            background: #111111aa;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1.8rem;
            padding: 0.5rem 1rem;
            text-align: center;
            transition: color 0.4s, background 0.3s; }
            .body .header .header__nav .header__links .header__li .header__link:hover {
              color: #fff;
              background: rgba(255, 255, 255, 0.5); }
      .body .header .header__nav .logo__link .logo__img {
        height: 5rem;
        transition: background 0.3s, transform 0.5s;
        margin: 2rem 0;
        border-radius: 100px; }
        .body .header .header__nav .logo__link .logo__img:hover {
          background: rgba(255, 255, 255, 0.5);
          transform: scale(105%); }
    .body .header .header__container .header__titles {
      margin: 2rem 3rem;
      color: #fff;
      background: none; }
      .body .header .header__container .header__titles .header__title {
        font-weight: bold;
        font-size: 5rem; }
      .body .header .header__container .header__titles .header__subtitle {
        font-weight: normal;
        font-size: 3rem; } }

.article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem 0 0 0;
  background: #fff;
  min-height: 100vh;
  max-height: fit-content; }
  .article .article__title {
    color: #125068;
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem; }
  .article .article__subtitle {
    color: #125068;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    font-weight: normal; }
  .article .gallery {
    max-width: 700px;
    margin: 1rem 5rem;
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px; }
    .article .gallery .gallery__item {
      cursor: pointer;
      background-color: #00a3ee;
      height: 20rem;
      width: 20rem;
      transition: transform 0.3s;
      margin: 0.3rem; }
      .article .gallery .gallery__item:hover .gallery__img {
        opacity: 15%; }
      .article .gallery .gallery__item:hover > .gallery__text {
        opacity: 100%; }
      .article .gallery .gallery__item:hover {
        transform: scale(105%); }
      .article .gallery .gallery__item .gallery__img {
        opacity: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        transition: opacity 0.4s; }
      .article .gallery .gallery__item .gallery__text {
        display: block;
        opacity: 0%;
        transition: opacity 0.5s;
        position: relative;
        bottom: 12rem;
        text-align: center;
        color: #fff;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.5rem; }
    .article .gallery .gallery__item--small {
      height: 200px;
      width: 200px; }
